*
{
    margin: 0;
    padding: 0;
}

.nav_container
{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: absolute;
}  

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto -20px;
}

.slide
{
    width: 100%;
    margin-bottom: auto; 
    display: block;
}

.background
{
    background-size: cover;
    -webkit-background-size: 100%;
}

.bg_first
{
    background-image: url("../images/bg_slide1.jpg");
}

.header_logo
{
    margin: 100px 20px;   
    position: absolute;
}

.header_inner
{
    padding-top: 120px;
    margin: 0 70px 0 0;
    display: flex;
    justify-content: flex-end;
}

.intro
{
    padding: 350px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_link
{
    color: #fff;
    font: 14px "Open Sans", "Verdana";
    text-decoration: none;
    margin: 0 0 0 30px;
    transition: color .2s linear;
    position: relative;
}

.nav_link:after
{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    background-color: #e74c3c;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav_link:hover
{
    color: #e74c3c;
}

.nav_link:hover:after
{
    display: block;
}

.intro_title
{ 
    font: 700 72px "Open Sans", "Verdana";    
    letter-spacing: 7px;
    color: #f4f5f9;
    text-align: center;
    margin: 0 0 20px;
}

.intro_suptitle
{
    margin: 20px 0 30px;
    font: 400 24px "Source Sans Pro", "Arial";
    letter-spacing: 1px;
    color: #f4f5f9;
    text-align: center;
}

.intro_subtitle
{
    display: flex;
    margin: 20px auto 15px;
    width: 200px;
}

.cir
{
   margin-left: 5px;
   margin-right: 5px;
}

.line
{
    margin: 0 auto;
    width: 75px;
    height: 2px;
    background-color: #fff;
    border-radius: 20px;
}

.text_subtitle
{
    margin: 20px auto 40px;
    width: 55%;
    text-align: center;
    font: 400 14px "Open Sans", "Verdana";
    line-height: 24px;
    color: #cbc6c0;
}

.buttons
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto 365px;
    width: 50%;
}

.button
{
    border: solid;
    width: 220px;
    margin: 10px 20px 0;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    font: 16px/50px "Open Sans", "Verdana";    
}

.button:hover
{
    border: none;
    width: 220px;
    text-align: center;
    border-radius: 5px;
    background-color: #e74c3c;
    font: 500 16px/50px "Open Sans", "Verdana";    
}

.anchor
{
    display: flex;
    margin: -45px auto 90px;
    width: 50px;
}

.info_block
{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 40px;
    margin: 0 auto;
    padding-bottom: 100px;
    justify-content: space-between;
}

.element
{
    font: 16px "Source Sans Pro", "Arial";
}

.img_elm
{
    margin: auto auto;
}

.border_img
{
    border: 3px solid #6a6a6a;
    height: 50px;
    width: 50px;
    margin: 0 auto 20px auto;
    text-decoration: none;
    align-items: center; 
    display: flex;
    justify-content: center;

}

.shape_img
{
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.header_info
{
   margin: 0 auto 20px;
   text-align: center;
   font: 600 18px "Open Sans", "Verdana";
   color: #6a6a6a;
}

.header_info:hover
{
   color: #e74c3c;    
}

.border_img:hover
{
    border-color: #e74c3c;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); 
}

.text_info
{
    display: flex;
    margin: 10px auto;
    width: 80%;
    font: 300 12px "Source Sans Pro", "Arial";
    letter-spacing: 1px;
    line-height: 20px;
    color: #999999;
    text-align: center;
}
	
.services
{
    margin: 5% auto 0;
    width: 100%;
    background: url("../images/bg_services.png") no-repeat;
    -webkit-background-size: 100%; 
}

.main_services
{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.images_to_serv
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 860px; 
}

.img_serv
{
    margin: auto 0;
}
.header_services
{ 
    display: flex;
    justify-content: center;
    font: 700 20px "Source Sans Pro", sans-serif;
    margin: 80px 30% 35px 28%;
    letter-spacing: 4px;
    color: #f4f5f9;
}

.imghead_serv
{
    padding: 0 30px;
    width: 8px;
    height: 40px;
}

.elementsserv
{
    margin: 0 30px 60px;
}

.textserv
{
    margin-right: 20px;
    width: 587px;
    float: left;
    height: 74px;
    font: 400 14px "Source Sans Pro";
    line-height: 29px;
    color: #999999;
    text-align: right;
}

.header_textserv
{
    width: 587px;
    height: 40px;
    font: 600 18px "Open Sans", "Verdana";
    line-height: 29px;
    color: #e74c3c;
    text-align: right;
}

.info_services
{
    text-align: right;
    margin: 0 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;        
}
.services_info 
{
    text-align: right;
    float: right;
    font: 400 14px "Source Sans Pro";
    line-height: 29px;
    color: #999999;
    text-align: right;
}

.form
{
    width: 100%;
    background-color: #f4f5f9;
}

.header_form
{
    padding: 5% 0 20px;
    font: 700 36px "Source Sans Pro", sans-serif; 
    line-height: 40px;
    color: #6a6a6a;
    text-align: center;
    filter: drop-shadow(0px 1px 0px #ffffff);
}

.subheader_form
{
    height: 22px;
    font: 400 14px "Open Sans", "Verada";
    line-height: 21px;
    color: #999999;
    text-align: center;
}

.line2
{
    margin: 0 auto;
    width: 70px;
    height: 1px;
    background-color: #999;
    border-radius: 20px;
}

.cir2
{
   margin-left: 20px;
   margin-right: 20px;
}

.form_block
{
    display: flex;
    max-width: 1200px;
    padding-top: 40px;
    margin: 0 auto;
    padding-bottom: 100px;
    justify-content: space-between;
}

.info_form
{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;       
    background-color: #fff; 
    width: 470px;
    border-radius: 5px;
}

.header_form_info
{
    margin-left: 87px;
    font: 600 24px "Source Sans Pro", "Arial";
    line-height: 24px;
    color: #e74e3e;
    padding-bottom: 20px;
    padding-top: 40px;
}

.form_info
{
    width: 23%;
    margin-left: 87px;
    font: 400 18px "Open Sans", "Verdana";
    line-height: 24px;
    color: #999999;
}

.back_form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff; 
    width: 57%;
    border-radius: 5px;
    padding-top: 97px;
}

.form_label
{
    font: 400 14px "Open Sans", "Verdana";
    margin-left: 87px ;
    line-height: 24px;
    color: #999999;
}

.form_input
{
    margin-left: 87px;
    border: none;
    box-shadow: 0 6px 5px -5px rgba(0, 0, 0, .1);
    margin-bottom: 30px;
}

.form_submit
{
    margin-left: 87px;
    width: 156px;
    border: none;
    height: 45px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    background: #e74c3c;
    margin-bottom: 40px;
}

.footer
{
    width: 100%;
}

.footer_bg
{
    background: url("../images/bg_foot.png") no-repeat; 
    -webkit-background-size: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.h_footer
{
    padding-top: 100px;
    font: 400 36px "Open Sans", "Verdana";
    color: #ffffff;
    margin-bottom: 20px
}

.text_f
{
    font: 300 30px "Source Sans Pro", "Arial";
    line-height: 29px;
    color: #fff;
    margin-bottom: 20px;
}

.button_start
{
    border: none;
    width: 225px;
    height: 55px;
    margin: 20px auto;
    text-decoration: none;
    color: #fff;
    background-color: #e74c3c;
    text-align: center;
    border-radius: 2px;
    font: 16px/50px "Open Sans", "Verdana";    
}

.button_footer
{
    z-index: 20 ;
    float: right;
}

.down
{
    margin-top: -22px;
    width: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav_down
{
    display: flex;
    margin: 0 15%;
}

.log_link
{
    color: #fff;
    font: 14px "Open Sans", "Verdana";
    text-decoration: none;
    margin: 0 2%;
}

.burger_button
{
	margin: 125px 0px;
	float: right;
	display: none;
}

@media screen and (max-width: 920px)
{
	.header_inner
    {
    	display: none;
    }

    .nav_link
    {
        z-index: 2;
        margin: 10px;
    }

    .nav_header
    {
    	margin: -20px 18px 0px 6px;
    	width: 100%;
    	z-index: 2;
    	background-color: #7d7777;
    	border-radius: 10px;
    	display: flex;
    	justify-content: flex-end;
    	flex-direction: column;
    }

    .burger_button
    {
        margin: 100px 20px 0 0;
        display: block;
    }

    .line_burger
    {
        display: block;
        width: 30px;
        height: 4px;
        margin: 0 0 7px;
        border-radius: 10px;
        background-color: #fff; 
    }
}
@media screen and (max-width: 780px)
{
    .form_block
    {
        flex-direction: column;
    }

    .info_form
    {    
        margin: 0 auto 15px;
        width: 90%;
    }

    .back_form
    {
        width: 90%;
    }

    .info_block
    {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 10px;
    }	

    .text_info
    {
        margin: 10px auto 50px;
        width: 190px;
    }

    .intro_title 
    {
        font: 700 60px "Open Sans", "Verdana";
    }
}

@media screen and (max-width: 713px)
{
    .header_services
    { 
        margin: 80px 45% 35px 38%;
    }
}
@media screen and (max-width: 650px)
{
	.bg_first
	{
 	   background-image: url("../images/bg_slide1_low.jpg");
	}

    .info_form
    {   
    	padding-bottom: 30px;
        margin: 0 auto 15px;
        width: 90%;
    }

    .back_form
    {
        width: 90%;
    }

    .services
    {
        background: none;
        background-color: #0c0010;
        -webkit-background-size: 100%; 
    }
    
    .images_to_serv
    {
        margin: 0 auto;
        justify-content: space-around;
        width: 60%;
    }
    
    .info_services
    {
        margin: 0 0 0 10%;       
    }
    
    .header_form_info
    {
        margin-left: 20px;
    }

    .form_info
    {
        width: 90%;
        margin-left: 20px;
    }

    .h_footer
    {
        font: 400 20px "Open Sans", "Verdana";
    }
    
    .text_f
    {
        font: 300 20px "Source Sans Pro", "Arial";
    }

    .form_label
    {
        margin-left: 20px;
    }

    .form_input
    {
        margin-left: 20px;
        width: 80%;
    }
}

@media screen and (max-width: 400px)
{
	.button
	{
	    height: 50px;
	    margin: 10px auto 0;   
	}

	.intro_title
    { 
        font: 700 46px "Open Sans", "Verdana";    
    }

    .info_form
    {    
    	padding-bottom: 30px;
        margin: 0 auto 2px;
        width: 90%;
    }

    .intro_subtitle
     {
        display: flex;
        margin: 50px auto 15px;
        width: 200px;
    }

    .back_form
    {
        width: 90%;
    }

    .info_services
    {
        margin: 0 auto 50px;
        width: 80%;       
    }

    .main_services
    {
        flex-direction: column-reverse;
    }

    .images_to_serv
    {
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
    }
}

